.link-item {
  text-decoration: none;
}

.job-item {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px;
  margin: 0;
}

.job-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.company-logo-image {
  width: 60px;
  height: 60px;
}

.company-name {
  color: #ffffff;
  font-size: 20px;
  margin: 0px 0px 12px 0px;
}

.company-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.star-icon {
  color: #fbbf24;
}

.company-rating {
  color: #ffffff;
  margin: 0px;
}

.job-specifics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.job-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.job-location-container,
.job-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.icon {
  color: #ffffff;
}

.job-location,
.job-type {
  color: #ffffff;
  font-size: 12px;
}

.package-per-annum {
  color: #ffffff;
}

.horizontal-line {
  background-color: #475569;
  width: 100%;
}

.job-description-container {
  display: flex;
  flex-direction: column;
}

.job-description-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

.job-description {
  color: #ffffff;
  font-size: 14px;
  margin-top: 4px;
}
